.before-after {
  width: 100%;
  padding-inline: 10px;

  @include onDesktop {
    padding-inline: 0;
  }

  &__image {
    width: 100%;
    display: block;

    &:hover .before-after__image > img {
      transform: scale(1.1);
    }
  }

  &__wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    margin-inline: auto;
    overflow: hidden;

    &--mw600 {
      max-width: 600px;
    }

    &--mw800 {
      max-width: 800px;
    }

    &--mh272 {
      max-height: 272px;
    }

    &--mh372 {
      max-height: 372px;
    }

    &--mh450 {
      max-height: 450px;
    }

    &--mh200 {
      max-height: 450px;

      @include onTablet {
        max-height: 200px;
      }
    }

    &--mh400 {
      max-height: 400px;
    }

    &--mhOnTablet300 {
      @include onTablet {
        max-height: 300px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border: 2px solid $border-color;
    }
  }

  &__content {
    @include text(13px);
    text-align: center;
  }

  &__text {
    @include text(16.8px);
    line-height: 28.56px;

    &--mb20 {
      margin-bottom: 20px;
    }
  }
}
