.contacts {
  &--mobile {
    border-top: 1px solid white;
    margin: 20px 10px 0 30px;
    padding-inline: 10px;
    padding-top: 20px;
  }

  &__contacts-list {
    & > :not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
