.experience {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 20px;

  @include onTablet {
    grid-template-columns: 1.5fr 2fr;
  }

  &__img {
    max-width: 500px;
    width: 100%;
    overflow: hidden;

    & > img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 20px;
    text-align: center;
    max-width: 700px;

    @include onTablet {
      text-align: left;
    }
  }

  &__title {
    @include text(24px, 700);
    margin-bottom: 10px;

    & span {
      color: $blue;
      margin-left: 6px;
    }
  }

  &__subtitles {
    margin-bottom: 40px;

    & :not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    @include text(16px, 400, 1.2px);
    line-height: 1.5;
  }
}
