%icon {
  content: '';
  display: block;
  position: absolute;
}

.icon {
  display: block;
  position: relative;

  &--benefit {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: -50px;
    @include bg-i("../../images/icons/plus.svg");

    &::before {
      @extend %icon;
      @include bg-i("../../images/icons/plus.svg");
      top: -13px;
      left: 10px;
      width: 10px;
      height: 10px;
    }

    &::after {
      @extend %icon;
      @include bg-i("../../images/icons/plus.svg");
      top: -10px;
      left: 20px;
      width: 20px;
      height: 20px;
    }
  }
}