.list-parts-repair {
  // list--block
  &--block {
    @include onTablet {
      display: flex;
      flex-direction: column;
    }
  }

  &--inline {
    text-align: center;

    & > li {
      display: inline-block;
    }
  }

  &--mb-20 {
    margin-bottom: 20px;
  }

  @include onDesktop {
    padding-inline: 0;
  }
}
