.list-parts-repair {
  padding-inline: 10px;

  &--block {
    @include onTablet {
      display: flex;
      flex-direction: column;
    }
  }

  &--block-wrap {
    & > li {
      max-width: fit-content;
    }

    @include onTablet {
      flex-wrap: wrap;
    }
  }

  &--inline {
    text-align: center;

    & > li {
      display: inline-block;
    }
  }

  &--mb-20 {
    margin-bottom: 20px;
  }

  @include onDesktop {
    padding-inline: 0;
  }

  & > li {
    position: relative;
    padding-left: 45px;
    @include text(16.8px);

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      @include bg-i('../../images/icons/tick.svg');
      left: 15px;
      top: 1px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
