.mobileBar {
  display: flex;

  @include onSmallDesktop {
    display: none;
  }

  &__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16px;
    width: 22px;
    transition: all 300ms;

    &:hover {
      & > .mobileBar__line:first-child {
        transform: translate(0, 2px);
      }

      & > .mobileBar__line:last-child {
        transform: translate(0, -2px);
      }

      & > .mobileBar__line {
        background-color: $buttonColor;
      }
    }
  }

  &__line {
    display: block;
    height: 2px;
    width: 100%;
    background-color: $WhiteColor;
    transition: all 300ms;
  }
}
