.page {
  &__home {
    font-family: 'Andada Pro', serif;
    color: $textColor;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: black;
      border-radius: 10px;
    }
  }

  &__title {
    @include text(24px, 700);
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;

    @include onTablet {
      @include text(34px, 700);
      margin-bottom: 40px;
    }

    &--benefits {
      position: relative;
      z-index: 52;
      color: $WhiteColor;
      margin-bottom: 45px;
    }

    & span {
      color: $blue;
      margin-left: 6px;
    }
  }

  &__subtitle {
    padding-inline: 10px;
    margin-bottom: 20px;
    @include text(16.8px);
    line-height: 28.56px;

    @include onDesktop {
      padding-inline: 0;
    }
  }

  &__section {
    padding-block: 30px;
    position: relative;

    @include onTablet {
      padding-block: 50px;
    }

    &--no-padding {
      padding-block: 0;
    }

    &--gray {
      background-image: linear-gradient(
          90deg,
          rgba(7, 174, 252, 0.08) 0%,
          rgba(7, 174, 252, 0.3) 100%
        ),
        url(../../images/on-gradient-bg.png);
    }

    &--benefits {
      @include bg-i('../../images/benefits.jpg');
      padding-block: 80px;
    }
  }

  &__footer {
    background-color: $first;
    background-image: url(../../images/texture-on-dark.png);
    padding-block: 30px;
  }

  &__lineBlock {
    padding-inline: 10px;

    &--margin {
      padding-block-start: 30px;
    }

    @include onDesktop {
      padding-inline: 0;
    }
  }

  &__line {
    width: 100%;
    height: 10px;
    position: relative;

    &::before {
      content: '';
      background-image: url('../../images/icons/line.svg');
      background-repeat: repeat;
      background-size: 5px 5px;
      height: 3px;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }
  }
}
